

<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:faeb="http://typo3.org/ns/Faeb/SitePackage/ViewHelpers"
        data-namespace-typo3-fluid="true">

<!-- Overwritten in sitepackage default folder Page/Header/Logo -->
<f:link.page pageUid="{rootPage}" class="navbar-brand navbar-brand-{f:if(condition: logo.normal, then: 'image', else: 'text')}" title="{settings.logo.linktitle}">

    <f:if condition="{logo.normal}">
        <f:then>
        <img class="navbar-brand-logo-normal" src="{f:uri.image(image: logo.normal)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
            <f:if condition="{logo.inverted}">
                <img class="navbar-brand-logo-inverted" src="{f:uri.image(image: logo.inverted)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
            </f:if>
        </f:then>
        <f:else>
            <span class="siteTitle-vendor">{siteTitle}</span>

            <f:if condition="{logo.string}">
                <f:then>
                    <f:if condition="{faeb:queryParameters()} == TRUE">
                        <f:then>
                            TRUE
                        </f:then>
                        <f:else>
                            FALSE
                        </f:else>

                    </f:if>

                    <f:if condition="{faeb:queryParameters()} == FALSE || {faeb:queryParameters(queryParam: 'debug') == 'true'}">
                        <f:then>
                            POST-debug-true
                        </f:then>
                        <f:else>
                            POST-debug-false
                        </f:else>

                    </f:if>


                    <img class="navbar-brand-logo-normal" src="{logo.string}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                </f:then>
            </f:if>

        </f:else>
    </f:if>

</f:link.page>
</html>
