// frames.scss / Custom added frame classes

.frame-layout-custom-boxxed {
    border: 3px dotted red;
}

.frame-textmedia-ratio .textmedia.textmedia-left .textmedia-item.textmedia-gallery {
    /* outline: 1px solid blue; */
    transform: scale(1.1, 1.1);
    vertical-align: middle;
    display: inline;
    padding: 1rem;
}

.frame-textmedia-reversed {
    /* outline: 1px solid green; */
}
.frame-textmedia-reversed .textmedia.textmedia-left {
    /* outline: 1px solid purple; */
    display: -webkit-flex;
    -webkit-flex-direction: row-reverse;
    display: flex;
    flex-direction: row-reverse;
}

.frame-textmedia-ratio .textmedia.textmedia-left {
    /* outline: 1px solid green; */
    overflow: hidden;
}

.frame-textmedia-ratio .textmedia.textmedia-left  .textmedia-item.textmedia-text {
    /* outline: 1px solid red;*/
    background: rgba(64,64,64,0.05);
    padding: 0.5rem;
    transform: scale(0.9, 0.9);
}

.frame-textmedia-ratio3 .textmedia.textmedia-left {

}

.frame-textmedia-ratio3 .textmedia.textmedia-left .textmedia-item.textmedia-text {
    // outline: 1px solid rgba(32,32,32,0.85);

    position: absolute;
    width: 66%;
    background: rgba(32,32,32,0.55) ;
    backdrop-filter: blur(5px);

    color: rgba(222,222,222,0.85);
    padding: 1.3rem;
    margin: 1.3rem;

    left: 0px;

    box-shadow: 3px 5px rgba(32,32,32,0.85);

}

.frame-textmedia-ratio3 .textmedia.textmedia-left .textmedia-item.textmedia-gallery {
    width: 66%;
}

.frame-textmedia-reversed .textmedia.textmedia-left  .textmedia-item.textmedia-text {
    order: 2;
}
.frame-textmedia-reversed .textmedia.textmedia-left .textmedia-item.textmedia-gallery {
    order: 1;
}

// @ToDo needed here?
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}