<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:faeb="http://typo3.org/ns/Faeb/StorybookBootstrapPackage/ViewHelpers"
      xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<picture>
    <!-- StorybookBootstrapPackage Partials Media/Rendering/Image -->
    <f:if condition="{faeb:queryParameters(queryParam: 'debug') == 'true'} && {faeb:queryParameters(queryParam: 'debug') == 'true'}">
        <f:then><!-- TRUE via API --></f:then>
        <f:else><!-- ELSE --></f:else>
    </f:if>

    <f:if condition="{faeb:queryParameters(queryParam: 'debug') == 'true'} && {faeb:queryParameters(queryParam: 'debug') == 'true'}">
        <f:then>
            <f:if condition="{file.properties.id}">
                <f:then>
                    <!-- file.properties.id: >>>{file.properties.id}<<< -->



                    <!-- f:image Viewhelper -->
                    <f:image loading="lazy"
                             src="{file.properties.id}"
                             treatIdAsReference="1" />


                    <f:if condition="{file.properties.embedSVG}">
                        <f:then>
                            <!-- embedded from ID: -->
                        </f:then>
                    </f:if>

                </f:then>
            </f:if>
            <f:if condition="{file.properties.src}">
                <f:then>
                    <!-- ToDo: rename embedSVG to InlineSvg -->
                    <f:if condition="{file.properties.embedSVG}">
                        <f:then>
                            <!-- embedded from src: -->
                            <f:format.raw>
                                <v:format.pregReplace pattern="/(#6c63ff)/" replacement="darkorange">
                                    <!-- image valid argument missing -->
                                    <bk2k:InlineSvg src="{file.properties.src}" height="auto" width="auto" class="my_css_class" />
                                </v:format.pregReplace>
                            </f:format.raw>
                            <br />
                            {file.properties.src}
                        </f:then>
                        <f:else>
                            <!-- default -->
                            <!-- file.properties.src: >>>{file.properties.src}<<< -->
                            <img
                                loading="lazy"
                                src="{file.properties.src}"
                                data-debug="1" />

                        </f:else>

                    </f:if>

                </f:then>
            </f:if>
        </f:then>
    </f:if>
</picture>
</html>
