mod.wizards.newContentElement.wizardItems {
  // add the content elementS to the tab "plugins"
  plugins {
    elements {
      // ...
      StorybookBootstrapPackage_postsingle {
        iconIdentifier = storybook_bootstrap_package_icon
        title = PostSingle
        description = StorybookBootstrapPackage Display a single blog post
        tt_content_defValues {
          CType = list
          list_type =  = StorybookBootstrapPackage_postsingle
        }
      }
    }
    show := addToList(blogexample_postlist,blogexample_postsingle,blogexample_blogadmin)
  }
}