mod.wizards.newContentElement.wizardItems {
  // add the content elementS to the tab "plugins"
  plugins {
    elements {
      // ...
      SitePackage_postsingle {
        iconIdentifier = site_package_icon
        title = PostSingle
        description = SitePackage Display a single blog post
        tt_content_defValues {
          CType = list
          list_type =  = SitePackage_postsingle
        }
      }
    }
    show := addToList(blogexample_postlist,blogexample_postsingle,blogexample_blogadmin)
  }
}